* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.material-symbols-outlined {
    vertical-align: -5px;
    margin-right: 5px;
    font-variation-settings: "FILL"0, "wght"400, "GRAD"0, "opsz"24;
}

header {
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0;
}

body {
    background-color: #ebebeb;
}

.navbar {
    width: 100%;
    overflow: hidden;
    background-color: white;
    box-shadow: 5px 0 10px gray;
    padding-left: 20px;
    scroll-behavior: auto;
}

#logo {
    float: left;
    height: 60px;
    width: 60px;
}

.navbar button {
    float: left;
    width: 130px;
    box-sizing: border-box;
    margin-top: 10px;
    height: 70px;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.navbar a {
    float: left;
    width: 130px;
    box-sizing: border-box;
    margin-top: 10px;
    height: 70px;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.navbar>button:hover,
.search .searchbtn:hover,
.account .accountbtn:hover,
.navbar .dropbtn:hover, .contact button:hover {
    border-bottom: 5px solid green;
    color: green;
}

.dropdown-content {
    top: 70px;
    height: 0;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-x: hidden;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

#menu span {
    font-size: 40px;
}

.dropdown:hover .dropdown-content {
    height: 150px;
}

.dropdown-content ul {
    display: flex;
    justify-content: center;
}

.dropdown-content li {
    margin-inline: 50px;
    height: 100%;
    list-style-type: none;
}

.dropdown-content li a {
    width: fit-content;
    text-decoration: none;
    font-size: 25px;
    color: black;
    text-align: center;
}

.dropdown-content li a:hover {
    color: green;
}

@media screen and (max-width: 600px) {
    #menu {
        width: 100%;
        height: auto;
    }
}

.navbar .search,
.account {
    float: right;
}

.dropdown-seacrh {
    height: 0;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-x: hidden;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    justify-content: center;
}

.dropdown-seacrh ul {
    position: relative;
}
.contact button{    
    position: relative;
    padding-left: 30px;
    text-align: left;
    width: 200px;
  }
  .contact-menu li {
    margin-left: -20px;
    list-style-type: none;
  }
  .contact-type{
    top: 70px;
    height: 0;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    left: 29.7%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
    overflow: hidden;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
  .contact-type a{
    height: 50px;
    width: 180px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
    display: block;
    transition: 0.3s;
  }
  .contact-type a:hover {
    color: green;
  }
  
  .contact:hover .contact-type {
    height: 120px;
  }

#searchbar {
    width: 30%;
    height: 30px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    -ms-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#searchbar:focus {
    border: 2px solid green;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 1;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    width: 88%;
    padding: 10px;
    margin-left: 70px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}


.account {
    float: right;
    overflow: hidden;
}

.account-nav {
    top: 70px;
    height: 0;
    position: absolute;
    background-color: #f9f9f9;
    width: 130px;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
    overflow: hidden;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.acccount-menu li {
    margin-left: -20px;
    list-style-type: none;
}

.account-nav a {
    height: 50px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
    display: block;
    transition: 0.3s;
}

.account-nav a:hover {
    color: green;
}

.account:hover .account-nav {
    height: 120px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.modal .cancelbtn {
    background-color: #f44336;
    width: auto;
    padding: 10px 18px;
}

.modal-container {
    padding: 16px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}

#search-box{
    margin-top: 0;
    height: 20px;
    width: 90%;
    outline: none;
    border: none;
    padding-left: 5px;
}
.BaoTri {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    margin-left: 10%;
    padding: 40px 20px;
    width: 80%;
    height: 40%;
    border-radius: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.search-center{
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
}
.details{
    width: 40%; 
}
.map{
    margin-left: 5%;
    width: 50%;
}

.map iframe{
    width: 100%;
    height: 100%;
}
.center-location{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 700px;
    width: 100%;
}
.location-details{
    background-color: rgb(247, 244, 244);
    padding: 10px 10px;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
    cursor: pointer;
}
.location-details p{
    color: gray;
}
.location-details h4{
    font-weight: bold;
}
#seeMore {
    cursor: pointer;
    background-color: #04aa6d;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#seeMore:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: rotateZ("angle");
}
.location-close-btn{
    position: absolute;
    font-size: 50px;
    right: 0;
    margin-top: -70px;
    margin-right: 15px;
    
}
.modal-details {
    display: none;
    margin-bottom: 5px;
    text-align: left;
    position: absolute;
    padding: 10px 20px;
    background-color:rgb(247, 244, 244);  
    top:31%;
    margin-left: 47.5%;
    width: 40%;
    height: 710px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
  }
  #svctype{
    border: 2px solid #078a07;
    background: #a5ecd2;
    color: #078a07;
    font-size: 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 30%;
}
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
#support {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10%;
    height: 300px;
    width: 80%;
    padding: 10px 10px;
  
  }
  
  #support a {
    width: 300px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    text-align: center;
  }
  
  #support a:hover {
    color: green;
  }
  
  #support span {
    font-size: 80px;
  }
.footer-container {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: black;
    color: white;
}

.footer-section {
    padding-left: 5px;
    margin-left: 10px;
    margin-top: 20px;
    text-align: left;
    width: 500px;
    height: 300px;
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 5px;
    border-top: 1px solid #dee2e6;
    margin-bottom: -20px;
    text-align: center;
}
#svcAndProduct a {
    text-decoration: none;
    display: list-item;
    list-style-type: none;
    margin-top: 5px;
  }
  
  #svcAndProduct a:hover {
    text-decoration: underline;
  }

.breadcrumbs {
    padding-left: 30px;
    height: 50px;
    z-index: -1;
    background-color: rgb(230, 230, 230);
}
@media screen and (max-width:600px) {
    .footer-section{
        font-size: 12px;
    }
    .footer-container img{
        height: 100px;
        width: 100px;
    }
}

.breadcrumbs li {
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    list-style-type: none;
}